In [1]:
import pandas as pd
import env

# ACQUIRE

In [2]:
def get_db_url(db):
    return f'mysql+pymysql://{env.user}:{env.password}@{env.host}/{db}'

In [3]:
def get_telco_chunk():
    query = '''
    SELECT 
    *
    FROM 
    customers
    ;
    '''
    df = pd.read_sql(query, get_db_url('telco_churn'))
    return df

In [4]:
df = get_telco_chunk()

In [ ]:
df = df.set_index('customer_id')

### It's acquired, now
# PREPARE

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0002-ORFBO to 9995-HOTOH
Data columns (total 20 columns):
gender                      7043 non-null object
senior_citizen              7043 non-null int64
partner                     7043 non-null object
dependents                  7043 non-null object
tenure                      7043 non-null int64
phone_service               7043 non-null object
multiple_lines              7043 non-null object
internet_service_type_id    7043 non-null int64
online_security             7043 non-null object
online_backup               7043 non-null object
device_protection           7043 non-null object
tech_support                7043 non-null object
streaming_tv                7043 non-null object
streaming_movies            7043 non-null object
contract_type_id            7043 non-null int64
paperless_billing           7043 non-null object
payment_type_id             7043 non-null int64
monthly_charges             7043 non-null float64
total_charges               7043 non-null object
churn                       7043 non-null object
dtypes: float64(1), int64(5), object(14)
memory usage: 1.1+ MB

In [15]:
df.isnull().sum()

gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
internet_service_type_id    0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
contract_type_id            0
paperless_billing           0
payment_type_id             0
monthly_charges             0
total_charges               0
churn                       0
dtype: int64

In [16]:
def pick_numerical_columns(df):
    cont_cols = df.select_dtypes(include=['float64','int64'])
    temp = []
    for column in cont_cols:
        columnSeriesObj = cont_cols[column]
        temp.append(columnSeriesObj.name)
    return temp

In [17]:
pick_numerical_columns(df)

['senior_citizen',
 'tenure',
 'internet_service_type_id',
 'contract_type_id',
 'payment_type_id',
 'monthly_charges']